*{
  margin:0;
  padding: 0;
}

body{
  font-family: 'monserat', sans-serif;
}

main{
  background-image: url('./assets/day.jpg');
  position: relative;
  background-position: bottom;
  transition: 0.4 ease-out;
  min-height: 1024px;

}

@media screen and (width: 200px to 900px){
  main{
    background-image: url('./assets/day.jpg');
    
  }

}